*.[oa]
*.so
*.la
*.lo
*.kdev*
*.pyc
*.ffindex
*.pc
*.dirstamp
*.deps
*.libs
*.sub
*.cache
libtool
apps/AVXEdit/AVXEdit
apps/avxframeserver/frameserverapp/avxFrameServer
apps/avxframeserver/avxFrameServer
apps/AVXEdit/src/moc_mainwindow.cpp
apps/AVXEdit/src/qrc_application.cpp
config.log
config.mak
config.targets
configure
config.guess
config.status
depcomp
install-sh
ltmain.sh
missing
aclocal.m4
autom4te/*
m4/libtool.m4
m4/lt*.m4
*Makefile
*Makefile.in
